gitpull.bat
*.idea
__pycache__/*
target.out
cmake-build-debug/
bin/*
doc/*
obj/*
LLP2.vcxproj
LLP2.vcxproj.user
.vs
client.sln
server.sln
.bin
obj
client.vcxproj
client.vcxproj.user
server.vcxproj
server.vcxproj.user
report.docx
target/*